.home_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4em;
}

.home_container h1 {
    font-size: 2.5em;
    margin-bottom: .5em;
}

.home_container h1 span {
    color: #0a58ca;
    padding: 0 .2em;
}

.home_container p {
    margin: 1.5em;
    color: #535353;
}

.home_container img {
    width: 450px;
    margin: 2em 0;
}