
@media (max-width: 768px) {
    .signout_button {
        
        font-size: 0.9em;
    }
}

@media (max-width: 590px) {
    .signout_button {
        padding: 0.3em 0.8em;
        font-size: 0.8em;
    }
}